<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} - add.run</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <script src="/assets/js/common.js"></script>
</head>

<body>
  <header>
    <a href="{{ page.back | default: '/' }}">&lt; Back</a>
    <h1>{{ page.title }}</h1>
  </header>
  <main>
    {{ content }}
    <textarea id="input" name="input" placeholder="as you type input here, the output will be shown below" autofocus></textarea>
    <div class="highlight">
      <button id="copy" onclick="copy()">copy</button>
      <pre id="output"></pre>
    </div>
  </main>

  <footer>
    <span>If you want, you can fuel my coding by <a href="https://www.buymeacoffee.com/davidnqd">Buying me a Coffee</a></span>
    © 2022 David Duong
  </footer>

  <div id="snackbar" />
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  <script>
    addInputListener(async (value) => {{ page.handler | default: '' }});
  </script>
</body>

</html>
