<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} - add.run</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <script src="/assets/js/common.js"></script>
  <style>
    h1 {
      text-align: center;
    }
    a {
      display: block;
      border: 1px solid;
      font-weight: bold;
      border-radius: 0.5rem;
      vertical-align: middle;
      min-width: 3rem;
      line-height: 3rem;
      margin: 1rem;
      text-align: center;
      background-color: #222;
    }
  </style>
</head>

<body>
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    © 2022 David Duong
  </footer>

  <div id="snackbar" />
</body>

</html>
